<!doctype html>
<html>
<head>
	<title>NHL Database</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
    <style type="text/css">
    	
    	.nav-item-nav-link{
	padding-left: 20px;
	padding-right: 20px;
}


    </style>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
      <a class="nav-item-nav-link" href="/">Home</a>
      <a class="nav-item-nav-link" href="/players">Players</a>
      <a class="nav-item-nav-link" href="/teams">Teams</a>
      <a class="nav-item-nav-link" href="/positions">Positions</a>
      <a class="nav-item-nav-link" href="/countries">Countries</a>
      <a class="nav-item-nav-link" href="/previous_teams">Previous Teams</a>
      <a class="nav-item-nav-link" href="/browse_players">Browse Players</a>
    </div>
  </div>
</nav>
	{{{body}}}
</body>
</html>